{% args d %}
<!DOCTYPE html>
<html>
<body>
<h1>DDB Stats Loader - API</h1>
<br>
    <p>Welcome to the DDB Stats Loader - Char Data API!</p>
    <p>Configuration Page</p>
<br>

<div class="rendered-form">
    <div class="formbuilder-select form-group field-Player1">
        <label for="Player1" class="formbuilder-select-label">Player 1</label>
        <select class="form-control" name="Player1" id="Player1">
            <option value="{{d["Player_ID0"]}}" selected="true" id="Player1-0">{{d["Player_ID0"]}}</option>
            <option value="{{d["Player_ID1"]}}" id="Player1-1">{{d["Player_ID1"]}}</option>
            <option value="{{d["Player_ID2"]}}" id="Player1-2">{{d["Player_ID2"]}}</option>
        </select>
    </div>
    <div class="formbuilder-select form-group field-Player2">
        <label for="Player2" class="formbuilder-select-label">Player 2</label>
        <select class="form-control" name="Player2" id="Player2">
            <option value="option-1" selected="true" id="Player2-0">Option 1</option>
            <option value="option-2" id="Player2-1">Option 2</option>
            <option value="option-3" id="Player2-2">Option 3</option>
        </select>
    </div>
    <div class="formbuilder-select form-group field-Player3">
        <label for="Player3" class="formbuilder-select-label">Player 3</label>
        <select class="form-control" name="Player3" id="Player3">
            <option value="option-1" selected="true" id="Player3-0">Option 1</option>
            <option value="option-2" id="Player3-1">Option 2</option>
            <option value="option-3" id="Player3-2">Option 3</option>
        </select>
    </div>
    <div class="formbuilder-select form-group field-Player4">
        <label for="Player4" class="formbuilder-select-label">Player 4</label>
        <select class="form-control" name="Player4" id="Player4">
            <option value="option-1" selected="true" id="Player4-0">Option 1</option>
            <option value="option-2" id="Player4-1">Option 2</option>
            <option value="option-3" id="Player4-2">Option 3</option>
        </select>
    </div>
    <div class="formbuilder-select form-group field-Player5">
        <label for="Player5" class="formbuilder-select-label">Player. 5</label>
        <select class="form-control" name="Player5" id="Player5">
            <option value="option-1" selected="true" id="Player5-0">Option 1</option>
            <option value="option-2" id="Player5-1">Option 2</option>
            <option value="option-3" id="Player5-2">Option 3</option>
        </select>
    </div>
    <div class="formbuilder-select form-group field-Player6">
        <label for="Player6" class="formbuilder-select-label">Player 6</label>
        <select class="form-control" name="Player6" id="Player6">
            <option value="option-1" selected="true" id="Player6-0">Option 1</option>
            <option value="option-2" id="Player6-1">Option 2</option>
            <option value="option-3" id="Player6-2">Option 3</option>
        </select>
    </div>
    <div class="formbuilder-select form-group field-Player7">
        <label for="Player7" class="formbuilder-select-label">Player 7</label>
        <select class="form-control" name="Player7" id="Player7">
            <option value="option-1" selected="true" id="Player7-0">Option 1</option>
            <option value="option-2" id="Player7-1">Option 2</option>
            <option value="option-3" id="Player7-2">Option 3</option>
        </select>
    </div>
    <div class="formbuilder-select form-group field-Player8">
        <label for="Player8" class="formbuilder-select-label">Player 8</label>
        <select class="form-control" name="Player8" id="Player8">
            <option value="option-1" selected="true" id="Player8-0">Option 1</option>
            <option value="option-2" id="Player8-1">Option 2</option>
            <option value="option-3" id="Player8-2">Option 3</option>
        </select>
    </div>
</div>
<br>
</body>
</html>
